@model List<Tour>

@{ 
    ViewData["Title"] = "Tours";
}

@{
    foreach (var item in Model)
    {
        <div class="contant__tour-list">
            <div class="contant__tour-item">
                <img class="contant__tour-image" src="@item.Img" alt="@item.Name" />
                <div class="contant__tour-description">
                    <h2 class="contant__tour-name"> @item.Name</h2>
                    <div class="contant__tour-info">
                        <div class="tour-info-item">
                            <i class="iconmoon icon-aim mr10"></i> @item.DepartureTown
                        </div>
                        <div class="tour-info-item">
                            @item.Period дні
                        </div>
                        <div class="tour-info-item">
                            @if (item.IsNightCrossing)
                            {
                                <div class="tour-info-item">
                                    "З нічним переїздом"
                                </div>
                            }
                            else
                            {
                                <div class="tour-info-item">
                                    "Без нічного переїзду"
                                </div>
                            }
                        </div>
                        <div class="tour-countries">
                            @item.Countries
                        </div>
                    </div>
                </div>
                <div class="contant__tour-data-price">
                    <div class="price"> @item.Price €</div>

                    <div>@item.DepartureDate</div>
                </div>
            </div>
        </div>
    }
}
