@model List<Tour>

@{
    ViewData["Title"] = "Tours";
}

<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <h2 class="intro__suptitle">Creative vacation</h2>
            <h1 class="intro__title">Welcome to TopTravel</h1>
        </div>
    </div>
</div>

<section class="contant">
    <div class="container">

        @{
            foreach (var item in Model)
            {
                <div class="contant__tour-list">
                    <div class="contant__tour-item" asp-con>
                        <a class="contant__tour-link" asp-controller="Tour" asp-action="Tour" asp-route-id="@item.Id">

                            <img class="contant__tour-image" src="@item.Img" alt="@item.Name"/>
                            <div class="contant__tour-description">
                                <h2 class="contant__tour-name"> @item.Name</h2>
                                <div class="contant__tour-info">
                                    <div class="tour-info-item">
                                        @item.DepartureTown
                                    </div>
                                    <div class="tour-info-item">
                                        @item.Period дні
                                    </div>
                                    <div class="tour-info-item">
                                        @if (item.IsNightCrossing)
                                        {
                                            <div class="tour-info-item">
                                                "З нічним переїздом"
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="tour-info-item">
                                                "Без нічного переїзду"
                                            </div>
                                        }
                                    </div>
                                    <div class="contant__tour-countries">
                                        @item.Countries
                                    </div>
                                </div>
                            </div>
                            <div class="tour-data-price">
                                <div class="tour-price"> @item.Price<small>€</small></div>

                                <div>@item.DepartureDate</div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</section>